@charset 'UTF-8';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@font-face {
    font-family: "Pressuru";
    src: url("/fonts/pressuru.otf") format("opentype");
}

// Font-Awesome
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

$background: url("/img/background_1.jpg");

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

body,
header,
footer {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), $background;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), $background;
}

footer {
    a {
        text-decoration: none;
        font-size: 36px;
        color: #FFF;
    }

    a:hover {
        color: var(--bs-primary);
    }
}

.main {
    padding: 120px 0;

    .wrapper {
        background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), $background;
        background-repeat: no-repeat;
        background-position: 50%;
        -webkit-background-size: cover;
        background-size: cover;
        background-attachment: fixed;

        @include border-radius(10px);
        padding: 30px;
    }

    .title {
        position: relative;
        left: -30px;
        background-image: url("/img/title-background.png");
        background-repeat: no-repeat;
        height: 77px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        padding-left: 30px;

        h1 {
            font-family: 'Pressuru';
            font-style: italic;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
        }
    }
}

/* Crew */
.crew-pilot {
    text-align: center;

    h2 {
        text-align: center;
        font-size: 26px;
        font-weight: bold;

        margin-bottom: 30px;
    }

    .pilot-photo {
        display: inline-block;
        width: 250px;
        margin-bottom: 15px;

        img {
            cursor: pointer;
            box-shadow: 0px 0px 40px #000;

            &:hover {
                @include transform(scale(1.02));
            }
        }
    }

    .pilot-name {
        text-align: center;
        font-size: 28px;
        font-weight: bold;

        margin-bottom: 20px;
    }

    .pilot-description {
        text-align: left;
        font-size: 18px;
    }
}

/* Team */
.team-member {
    text-align: center;

    h2 {
        text-align: center;
        font-size: 26px;
        font-weight: bold;

        margin-bottom: 30px;
    }

    .member-photo {
        display: inline-block;
        width: 250px;
        margin-bottom: 15px;

        img {
            cursor: pointer;
            box-shadow: 0px 0px 40px #000;

            &:hover {
                @include transform(scale(1.02));
            }
        }
    }

    .member-name {
        text-align: center;
        font-size: 28px;
        font-weight: bold;

        margin-bottom: 20px;
    }

    .member-description {
        text-align: left;
        font-size: 18px;
    }
}

/* Activity */
.activity {

    p,
    ul {
        font-size: 20px;
        text-align: justify;
        text-indent: 30px;
    }

    img {
        @include border-radius(5px);
        box-shadow: 0px 0px 30px #000;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            @include transform(scale(1.02));
        }
    }
}

/* Goals */
.goals {

    p,
    ul {
        font-size: 20px;
        text-align: justify;
        text-indent: 30px;
    }

    img {
        @include border-radius(5px);
        box-shadow: 0px 0px 30px #000;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            @include transform(scale(1.02));
        }
    }
}


/* Contacts Info */
.contacts-info {
    padding: 10px;

    &>div {
        position: relative;
        padding: 20px;
    }

    .info-icon {
        position: absolute;
        left: -25px;
        top: 21px;
        font-size: 30px;
        font-weight: bold;
    }

    .info-title {
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .info-content {
        font-size: 20px;
        text-align: center;

        a.btn-telegram {
            position: relative;
            width: 180px;
            font-size: 20px;
            padding-left: 50px;
            padding-right: 30px;
            text-decoration: none;

            i {
                font-size: 30px;
                position: absolute;
                top: 50%;
                left: 30px;
                @include transform(translate(0, -50%));
            }

            &:hover {
                box-shadow: 0 0 5px 5px rgba(5, 140, 221, .8);
                background-color: #0077ff;
            }
        }

        a.btn-mail {
            width: 220px;
			text-decoration: none;
			font-size: 20px;
        }
    }
}